<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>UpperCase String: {{'maneendra' | upperCaseCustom}}</h2>
</div>
<div>
  <p *ngFor="let customer of customers"><b>{{customer.firstName + " "+ customer.lastName}}</b>
    <li>Custome ID: {{customer.customerId}}</li>
    <li>Email: {{customer.email}}</li>
    <li>Address: {{customer.address}}</li>
    <li>Phone Number: {{customer.phoneNo}}</li>
    <li>DOB: {{customer.dob}}</li>
  </p>
</div>

<router-outlet></router-outlet>
